.Mycourse {
    padding: 20px 120px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.Mycourse h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.CreateCourse-button {
    font-size: 1.5rem;
    margin-top: -25px;
}

.decorated-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.decorated-button:hover {
    background-color: #2980b9;
}

.Mycourse hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin-bottom: 40px;
}