.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-login-profile{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-profile button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-profile button:active{
    background: #f3f3f3;
}

.nav-login-profile img{
    width: 50px;
    height: 50px;
}

.nav-login-profile .logout-btn {
    background: #ff4141;
    color: white;
    border: none;
  }